@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{

    var rootContents = UmbracoHelper.ContentAtRoot();
    var homePage = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "homePage");
    
 
    var address = homePage?.Value<string>("address") ?? "Klarabergsviadukten 90, 111 64 Stockholm";
    var facebookLink = homePage?.Value<string>("facebookLink") ?? "#";
    var twitterLink = homePage?.Value<string>("twitterLink") ?? "#";
    var linkedInLink = homePage?.Value<string>("linkedinLink") ?? "#";
    var siteLogo = homePage?.Value<IPublishedContent>("siteLogo")?.Url() ?? "/bilder/Brand.png";
}

<header>
    <div class="top-bar">
        <div class="container">
            <div class="address">@address</div>
            <div class="social-media">
                <a href="@facebookLink" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="@twitterLink" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="@linkedInLink" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>

    <div class="main-nav">
        <div class="container">
            <div class="logo">
                <img src="@siteLogo" alt="Onatrix">
            </div>
         <nav>
    <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
</nav>
     <div class="search-icon">
    <a href="#"><i class="fas fa-search"></i></a>
</div>


        </div>
    </div>
</header>

